.wrap {
  flex-wrap: 2;
  padding: 1rem;
}

.wrap p {
  color: #ffffff;
}

.wrap pre {
  color: #ffffff;
  line-height: 1.8rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wrap span {
  color: #ffffff;
}

.wrap a {
  color: #3ea6ff;
}
